<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>app gestor de tareas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/sketchy/bootstrap.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
</head>
<body>
    <main class="container p-4">

        <h1 class="display-4 text-center mt-4 titulo">App de gestion de tareas</h1>  
        <div class="row">
            <div class="cold -md-4 offset-md-4 my-auto">
                <div class="card">
                    <div class="card-header">
                    <form action="/tarea" /method="post">
                        <div class='form-inline'>
                             <div class="form-group mx-sm-3 mb-2">
                                 <input type="text" name="contenido" class="form-control" id="inputPassword2" placeholder="tarea">
                            </div>
                             <button type="submit" class="btn btn-primary mb-2">añadir</button>
                         </div>
                    </form>
                    
                    </div>


                    
                     <div class="card-body">
                        <ul>
                        {% for tarea in tarea %}
                            <li>
                                {% if tarea.hecho %} <strike> {% endif %}{{ tarea.contenido }} {% if tarea.hecho %} </strike>{% endif %}
                                <a href="/done/{{ tarea.id }}">X</a>
                                <a href="/delete/{{ tarea.id }}">Delete</a>
                            </li>
                        {% endfor %}
                        </ul>

                    
                    </div>
                 </div>
            </div>
        </div>

            <div style="position: fixed; z-index: -99; width: 30%; height: 30%">
                <iframe frameborder="0" height="30%" width="30%"
                    src="https://youtube.com/embed/1b2aJ2WfRWY?autoplay=1"frameborder="0" allow="autoplay" id="audio"  allowfullscreen>
                </iframe>
            </div>
    </main>
</body>
</html>