.titulo{
    font-family: 'Permanent Marker', cursive;
}


body{
    background: #5cfcb7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6afbb5, #5c7ffc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6afb9f, #5c84fc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}